body .site-content .wp-block-columns.has-2-columns .col-md-8 .container {
    padding: 0;
}

body .site-content .wp-block-columns.has-2-columns .col-md-8 .stm-list-view-block .container .block-title {
    padding-bottom: 20px;
    letter-spacing: 1.7px;
    line-height: 18px;
}

body .site-content .wp-block-columns.has-2-columns .col-md-8 .stm-list-view-block .container .block-title.block_header_2 {
    padding-bottom: 33px;
    margin-bottom: 38px;
    letter-spacing: 0;
}

body .site-content .wp-block-columns.has-2-columns .stmt-sticky-sidebar {
    will-change: min-height;
}

body .site-content .wp-block-columns.has-2-columns .stmt-sticky-sidebar .inner-wrapper-sticky {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    /* For browsers don't support translate3d. */
    will-change: position, transform; }

@media (max-width: 600px) {
  body .site-content .wp-block-columns.has-2-columns .col-md-8 {
    padding: 0; } }

.editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row {
  max-width: 1110px;
  margin: 0 auto; }
  .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
      -webkit-box-flex: inherit;
          -ms-flex: inherit;
              flex: inherit; }
      .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block:first-child {
        width: 66.666666%; }
        .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block:first-child .stm-grid-view-block .headTabsWrap {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          position: relative;
          padding-bottom: 21px;
          margin-bottom: 43px; }
          .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block:first-child .stm-grid-view-block .headTabsWrap:before {
            content: '';
            display: block;
            width: 6.3%;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0; }
          .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block:first-child .stm-grid-view-block .headTabsWrap:after {
            content: '';
            display: block;
            width: 92%;
            height: 1px;
            position: absolute;
            bottom: 0;
            right: 0; }
          .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block:first-child .stm-grid-view-block .headTabsWrap .block-title {
            margin: 0;
            padding: 0; }
            .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block:first-child .stm-grid-view-block .headTabsWrap .block-title:before, .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block:first-child .stm-grid-view-block .headTabsWrap .block-title:after {
              display: none; }
          .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block:first-child .stm-grid-view-block .headTabsWrap ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap; }
            .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block:first-child .stm-grid-view-block .headTabsWrap ul li {
              text-transform: uppercase;
              padding: 0 15px;
              line-height: 20px;
              font-size: 14px;
              font-weight: 400; }
              .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block:first-child .stm-grid-view-block .headTabsWrap ul li:last-child {
                padding-right: 0; }
      .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-columns.has-2-columns.row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block:last-child {
        width: 33.333333%; }

.stmt-template-demo_two .site-content .wp-block-columns.has-2-columns .col-md-8 .stm-grid-view-block .headTabsWrap {
  padding-bottom: 16px; }
