@import "../../assets/css/mixins";
body .site-content {
    .stm-list-view-block {
        .container {
            padding: 0;

            > div {
                > div {
                    margin-bottom: 40px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .list_view_item {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: flex-start;

                        .img-wrap {
                            display: block;
                            margin-right: 30px;
                            width: 35%;

                            a {
                                display: block;
                                position: relative;
                                width: 100%;

                                img {
                                    display: block;
                                    width: 100%;
                                    position: relative;
                                    @include transitionAllImg();
                                }
                            }
                        }

                        .meta-wrap {
                            display: block;
                            width: 65%;

                            .meta-top {
                                h3 {
                                    a {
                                        @include transitionAll();
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.style_2 {
            .container {
                .block-title {
                    margin-bottom: 40px;
                }

                > div {
                    > div {
                        .list_view_item {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: center;
                            justify-content: flex-start;

                            .img-wrap {
                                display: block;
                                margin-right: 30px;
                                width: 50%;
                                border-radius: 5px;
                                overflow: hidden;

                                a {
                                    display: block;
                                    position: relative;
                                    width: 100%;

                                    img {
                                        display: block;
                                        width: 100%;
                                        position: relative;
                                        @include transitionAllImg();
                                    }
                                }
                            }

                            .meta-wrap {
                                display: block;
                                width: 50%;

                                .meta-top {
                                    h3 {
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        line-height: 36px;
                                        font-size: 28px;

                                        a {
                                            color: #000000;
                                            @include transitionAll();
                                        }
                                    }
                                }

                                .meta-middle {
                                    margin: 14px 0;
                                    .meta {
                                        display: flex;
                                        flex-wrap: nowrap;

                                        li {
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: nowrap;
                                            justify-content: flex-start;
                                            align-items: center;
                                            margin-right: 20px;
                                            line-height: 22px;
                                            color: #363636;

                                            a {
                                                font-size: 12px;
                                                border-radius: 2px;
                                                text-transform: uppercase;
                                                font-weight: 400;
                                                padding: 2px 12px;
                                                letter-spacing: 1px;
                                                border: 1px solid #363636;
                                                color: #363636;
                                                @include transitionAll();
                                            }

                                            span {
                                                font-size: 13px;
                                                margin-right: 6px;

                                                &.stm-gm-icon-eye {
                                                    font-size: 10px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .meta-bottom {

                                }
                            }
                        }
                    }
                }
            }
        }

        &.style_3 {
            .container {
                .block-title {
                    margin-bottom: 0px;
                }

                > div {
                    > div {
                        margin-bottom: 30px;

                        .list_view_item {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: flex-start;
                            justify-content: flex-start;

                            .img-wrap {
                                display: block;
                                margin-right: 30px;
                                width: 50%;
                                border-radius: 5px;
                                overflow: hidden;

                                a {
                                    display: block;
                                    position: relative;
                                    width: 100%;

                                    img {
                                        display: block;
                                        width: 100%;
                                        position: relative;
                                        @include transitionAllImg();
                                    }
                                }
                            }

                            .meta-wrap {
                                display: block;
                                width: 50%;
                                padding-top: 18px;

                                .meta-top {
                                    margin: 14px 0 3px;
                                    .meta {
                                        display: flex;
                                        flex-wrap: nowrap;

                                        li {
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: nowrap;
                                            justify-content: flex-start;
                                            align-items: center;
                                            margin-right: 7px;
                                            line-height: 22px;
                                            font-size: 12px;

                                            a {
                                                font-size: 12px;
                                                border-radius: 2px;
                                                text-transform: uppercase;
                                                font-weight: 500;
                                                padding: 2px 0;
                                                letter-spacing: 1px;
                                                opacity: 0.8;
                                                @include transitionAll();

                                                &:hover {
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                }

                                .meta-middle {
                                    margin-bottom: 12px;
                                    h3 {
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        line-height: 30px;
                                        font-size: 22px;

                                        a {
                                            @include transitionAll();
                                        }
                                    }
                                }

                                .meta-bottom {

                                }
                            }
                        }
                    }
                }
            }
        }

        &.style_4 {
            .container {
                .block-title {
                    margin-bottom: 40px;
                }

                > div {
                    > div {
                        &:last-child {
                            .list_view_item {
                                padding-bottom: 0;
                                border-bottom: 0;
                            }
                        }

                        .list_view_item {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: center;
                            justify-content: flex-start;
                            border-bottom: 1px solid #cbcbcb;
                            padding-bottom: 40px;

                            .img-wrap {
                                display: block;
                                margin-right: 30px;
                                width: 50%;
                                border-radius: 5px;
                                overflow: hidden;

                                a {
                                    display: block;
                                    position: relative;
                                    width: 100%;

                                    img {
                                        display: block;
                                        width: 100%;
                                        position: relative;
                                        @include transitionAllImg();
                                    }
                                }
                            }

                            .meta-wrap {
                                display: block;
                                width: 50%;

                                .meta-top {
                                    h3 {
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        line-height: 24px;
                                        font-size: 22px;
                                        font-weight: 700;

                                        a {
                                            color: #000000;
                                            @include transitionAll();
                                        }
                                    }
                                }

                                .meta-middle {
                                    margin: 16px 0 10px;

                                    .meta {
                                        display: flex;
                                        flex-wrap: nowrap;

                                        li {
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: nowrap;
                                            justify-content: flex-start;
                                            align-items: center;
                                            margin-right: 15px;
                                            line-height: 22px;
                                            font-size: 14px;
                                            opacity: 0.7;
                                            transition: all .2s ease-in-out;

                                            &:last-child {
                                                margin-right: 0;
                                            }

                                            &.category:hover {
                                                opacity: 1;
                                            }

                                            a {
                                                font-size: 10px;
                                                line-height: 13px;
                                                border-radius: 2px;
                                                text-transform: uppercase;
                                                font-weight: 700;
                                                padding: 5px 12px;
                                                letter-spacing: 0;
                                                border: 0;
                                                color: #ffffff;
                                                @include transitionAll();
                                                white-space: nowrap;
                                            }

                                            span {
                                                font-size: 16px;
                                                margin-right: 6px;

                                                &.stm-gm-icon-eye {
                                                    font-size: 12px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .meta-bottom {
                                    .excerpt-wrap {
                                        p {
                                            font-size: 14px;
                                            line-height: 22px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .stmt-load-more-btn-wrap {
            display: block;
            overflow: hidden;
            text-align: center;
            padding: 40px 0 20px;

            .stmt-load-more {
                display: inline-block;
                @include transitionAll();
                cursor: pointer;
                position: relative;
                font-size: 14px;
                line-height: 44px;
                padding: 2px 24px;
                border-radius: 2px;

                &.loading {
                    padding-right: 40px;

                    .icon-sync {
                        display: block;
                    }
                }

                .icon-sync{
                    display: none;
                    position: absolute;
                    right: 12px;
                    top: 30%;
                    font-size: 18px;
                    -webkit-animation: rotating 2s infinite linear;
                    animation: rotating 2s infinite linear;
                }
            }
        }

        @media (max-width: 1024px) {
            &.style_3 {
                .container {
                    > div {
                        > div {
                            .list_view_item {
                                .meta-wrap {
                                    padding-top: 0;

                                    .meta-top {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.style_4 {
                .container {
                    > div {
                        > div {
                            .list_view_item {
                                .meta-wrap {
                                    .meta-middle {
                                        .meta {
                                            flex-wrap: wrap;

                                            li {
                                                &.category {
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        @media (max-width: 820px) {
            &.style_4 {
                .container {
                    > div {
                        > div {
                            .list_view_item {
                                .meta-wrap {
                                    .meta-middle {
                                        .meta {
                                            flex-wrap: wrap;

                                            li {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @media ( max-width: 600px ) {
            .container {
                .row {
                    .col-md-12 {
                        .list_view_item {
                            flex-direction: column;

                            .img-wrap, .meta-wrap {
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }

            &.style_4 {
                padding: 0 15px;

                .container {
                    .row {
                        margin: 0 !important;
                        .col-md-12 {
                            margin: 0 !important;
                            padding: 0;

                            .list_view_item {
                                flex-direction: column;

                                .img-wrap, .meta-wrap {
                                    margin: 0;
                                    width: 100%;
                                    max-width: 100%;

                                    .meta-middle {
                                        .meta {
                                            flex-wrap: nowrap;

                                            li.category {
                                                width: auto;
                                            }
                                        }
                                    }
                                }

                                .img-wrap {
                                    margin-bottom: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 500px) {
            .container {
                > div {
                    > div {
                        .list_view_item {
                            flex-direction: column !important;

                            .img-wrap {
                                width: 100% !important;
                                margin: 0;

                                img{
                                    width: 100%;
                                }
                            }

                            .meta-wrap {
                                width: 100% !important;
                                padding-top: 0;

                                .meta-middle {
                                    .meta {
                                        flex-wrap: wrap !important;

                                        li.category {
                                            width: 100% !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.style_2 {
                .container {
                    > div {
                        > div {
                            .list_view_item {
                                flex-direction: column !important;

                                .img-wrap {
                                    width: 100% !important;
                                    margin: 0;
                                }

                                .meta-wrap {
                                    width: 100% !important;
                                    padding-top: 20px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.stmt-template-demo_two .site-content{
    .stm-list-view-block {
        &.style_2 .container {
            >div >div .list_view_item {
                align-items: center;

                .meta-wrap {
                    padding-top: 0;
                    margin-top: -4px;

                    .meta-top {
                        .heading-title {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 30px;
                        }
                    }

                    .meta-bottom {
                        .excerpt-wrap {
                            p {
                                font-size: 16px;
                                line-height: 24px;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.stmt-template-car_magazine {
    .site-content {
        .stm-list-view-block{
            @media (max-width: 768px) {
                &.style_4 {
                    padding: 0;
                }
            }
        }
    }
}

.editor-block-list__block {
    .stm-list-view-block {
        .container {
            > div {
                > div {
                    margin-bottom: 40px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .list_view_item {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: flex-start;

                        .img-wrap {
                            display: block;
                            margin-right: 30px;
                            width: 35%;

                            a {
                                display: block;
                                position: relative;
                                width: 100%;

                                img {
                                    display: block;
                                    width: 100%;
                                    position: relative;
                                    @include transitionAllImg();
                                }
                            }
                        }

                        .meta-wrap {
                            display: block;
                            width: 65%;

                            .meta-top {
                                h3 {
                                    a {
                                        @include transitionAll();
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.style_1 {
            .container {
                .block-title {
                    margin-bottom: 40px;
                }

                > div {
                    > div {
                        .list_view_item {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: flex-start;
                            justify-content: flex-start;

                            .img-wrap {
                                display: block;
                                margin-right: 30px;
                                width: 30%;
                                border-radius: 5px;
                                overflow: hidden;

                                a {
                                    display: block;
                                    position: relative;
                                    width: 100%;

                                    img {
                                        display: block;
                                        width: 100%;
                                        position: relative;
                                        @include transitionAllImg();
                                    }
                                }
                            }

                            .meta-wrap {
                                display: block;
                                width: 70%;

                                .meta-top {
                                    h3 {
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        line-height: 36px;
                                        font-size: 28px;

                                        a {
                                            color: #000000;
                                            @include transitionAll();
                                        }
                                    }
                                }

                                .meta-middle {
                                    margin: 14px 0;
                                    .meta {
                                        display: flex;
                                        flex-wrap: nowrap;

                                        li {
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: nowrap;
                                            justify-content: flex-start;
                                            align-items: center;
                                            margin-right: 20px;
                                            line-height: 22px;
                                            color: #363636;

                                            a {
                                                font-size: 12px;
                                                border-radius: 2px;
                                                text-transform: uppercase;
                                                font-weight: 400;
                                                padding: 2px 12px;
                                                letter-spacing: 1px;
                                                border: 1px solid #363636;
                                                color: #363636;
                                                @include transitionAll();
                                            }

                                            span {
                                                font-size: 13px;
                                                margin-right: 6px;

                                                &.stm-gm-icon-eye {
                                                    font-size: 10px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .meta-bottom {
                                    .excerpt-wrap {
                                        p {
                                            margin-top: 10px;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.style_2 {
            .container {
                .block-title {
                    margin-bottom: 40px;
                }

                > div {
                    > div {
                        .list_view_item {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: center;
                            justify-content: flex-start;

                            .img-wrap {
                                display: block;
                                margin-right: 30px;
                                width: 50%;
                                border-radius: 5px;
                                overflow: hidden;

                                a {
                                    display: block;
                                    position: relative;
                                    width: 100%;

                                    img {
                                        display: block;
                                        width: 100%;
                                        position: relative;
                                        @include transitionAllImg();
                                    }
                                }
                            }

                            .meta-wrap {
                                display: block;
                                width: 50%;

                                .meta-top {
                                    h3 {
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        line-height: 36px;
                                        font-size: 28px;

                                        a {
                                            color: #000000;
                                            @include transitionAll();
                                        }
                                    }
                                }

                                .meta-middle {
                                    margin: 14px 0;
                                    .meta {
                                        display: flex;
                                        flex-wrap: nowrap;

                                        li {
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: nowrap;
                                            justify-content: flex-start;
                                            align-items: center;
                                            margin-right: 20px;
                                            line-height: 22px;
                                            color: #363636;

                                            a {
                                                font-size: 12px;
                                                border-radius: 2px;
                                                text-transform: uppercase;
                                                font-weight: 400;
                                                padding: 2px 12px;
                                                letter-spacing: 1px;
                                                border: 1px solid #363636;
                                                color: #363636;
                                                @include transitionAll();
                                            }

                                            span {
                                                font-size: 13px;
                                                margin-right: 6px;

                                                &.stm-gm-icon-eye {
                                                    font-size: 10px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .meta-bottom {

                                }
                            }
                        }
                    }
                }
            }
        }

        &.style_3 {
            .container {
                .block-title {
                    margin-bottom: 0px;
                }

                > div {
                    > div {
                        margin-bottom: 30px;

                        .list_view_item {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: flex-start;
                            justify-content: flex-start;

                            .img-wrap {
                                display: block;
                                margin-right: 30px;
                                width: 50%;
                                border-radius: 5px;
                                overflow: hidden;

                                a {
                                    display: block;
                                    position: relative;
                                    width: 100%;

                                    img {
                                        display: block;
                                        width: 100%;
                                        position: relative;
                                        @include transitionAllImg();
                                    }
                                }
                            }

                            .meta-wrap {
                                display: block;
                                width: 50%;
                                padding-top: 18px;

                                .meta-top {
                                    margin: 14px 0 3px;
                                    .meta {
                                        display: flex;
                                        flex-wrap: nowrap;

                                        li {
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: nowrap;
                                            justify-content: flex-start;
                                            align-items: center;
                                            margin-right: 7px;
                                            line-height: 22px;
                                            font-size: 12px;

                                            a {
                                                font-size: 12px;
                                                border-radius: 2px;
                                                text-transform: uppercase;
                                                font-weight: 500;
                                                padding: 2px 0;
                                                letter-spacing: 1px;
                                                opacity: 0.8;
                                                @include transitionAll();

                                                &:hover {
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                }

                                .meta-middle {
                                    margin-bottom: 12px;
                                    h3 {
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        line-height: 30px;
                                        font-size: 22px;

                                        a {
                                            @include transitionAll();
                                        }
                                    }
                                }

                                .meta-bottom {

                                }
                            }
                        }
                    }
                }
            }
        }

        &.style_4 {
            .container {
                .block-title {
                    margin-bottom: 40px;
                }

                > div {
                    > div {
                        &:last-child {
                            .list_view_item {
                                padding-bottom: 0;
                                border-bottom: 0;
                            }
                        }

                        .list_view_item {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: center;
                            justify-content: flex-start;
                            border-bottom: 1px solid #cbcbcb;
                            padding-bottom: 40px;

                            .img-wrap {
                                display: block;
                                margin-right: 30px;
                                width: 50%;
                                border-radius: 5px;
                                overflow: hidden;

                                a {
                                    display: block;
                                    position: relative;
                                    width: 100%;

                                    img {
                                        display: block;
                                        width: 100%;
                                        position: relative;
                                        @include transitionAllImg();
                                    }
                                }
                            }

                            .meta-wrap {
                                display: block;
                                width: 50%;

                                .meta-top {
                                    h3 {
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        line-height: 24px;
                                        font-size: 22px;
                                        font-weight: 700;

                                        a {
                                            color: #000000;
                                            @include transitionAll();
                                        }
                                    }
                                }

                                .meta-middle {
                                    margin: 16px 0 10px;

                                    .meta {
                                        display: flex;
                                        flex-wrap: nowrap;

                                        li {
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: nowrap;
                                            justify-content: flex-start;
                                            align-items: center;
                                            margin-right: 15px;
                                            line-height: 22px;
                                            font-size: 14px;

                                            &:last-child {
                                                margin-right: 0;
                                            }

                                            a {
                                                font-size: 10px;
                                                line-height: 13px;
                                                border-radius: 2px;
                                                text-transform: uppercase;
                                                font-weight: 700;
                                                padding: 5px 12px;
                                                letter-spacing: 0;
                                                border: 0;
                                                color: #ffffff;
                                                @include transitionAll();
                                                white-space: nowrap;
                                            }

                                            span {
                                                font-size: 16px;
                                                margin-right: 6px;

                                                &.stm-gm-icon-eye {
                                                    font-size: 12px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .meta-bottom {
                                    .excerpt-wrap {
                                        p {
                                            font-size: 14px;
                                            line-height: 22px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 1300px) {
        .stm-list-view-block{
            &.style_4 {
                .container {
                    > div {
                        > div {
                            .list_view_item {
                                .meta-wrap {
                                    .meta-middle {
                                        .meta {
                                            flex-wrap: wrap;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}