body .site-content .stm-subscribe-form-block.style_1 .container {
    text-align: center;
}

body .site-content .stm-subscribe-form-block.style_1 .container .block-title {
    font-weight: 700;
    margin-bottom: 50px;
}

body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 580px;
}

body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields h3 {
    display: none;
}

body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields label {
    display: none;
}

body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap:before {
    content: '\e696';
    font-family: 'Linearicons';
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap input[type='email'] {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    outline: none;
    background: transparent;
    max-width: 455px;
    width: 100%;
    margin-right: 28px;
    font-size: 15px;
    line-height: 26px;
    padding: 16px 0 15px 34px;
    box-shadow: none;
    border-radius: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap input[type='email']:focus, body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap input[type='email']:hover, body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap input[type='email']:active {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
    background: transparent;
}

body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap input[type=submit] {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    background: transparent;
    border-radius: 30px;
    padding: 11px 28px 10px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-response {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 580px;
    text-align: left;
    font-size: 12px;
}

@media (max-width: 500px) {
    body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap:before {
        margin-top: -2px;
        font-size: 18px;
    }

    body .site-content .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap input[type='email'] {
        font-size: 12px;
        padding-left: 24px;
        margin-right: 10px;
        line-height: 18px;
    }
}

.editor-block-list__block .stm-subscribe-form-block.style_1 .container {
    text-align: center;
}

.editor-block-list__block .stm-subscribe-form-block.style_1 .container .block-title {
    font-weight: 700;
    margin-bottom: 50px;
}

.editor-block-list__block .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 580px;
}

.editor-block-list__block .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields h3 {
    display: none;
}

.editor-block-list__block .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields label {
    display: none;
}

.editor-block-list__block .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.editor-block-list__block .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap:before {
    content: '\e696';
    font-family: 'Linearicons';
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.editor-block-list__block .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap input[type='email'] {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
    box-shadow: none;
    background: transparent;
    max-width: 455px;
    width: 100%;
    margin-right: 28px;
    font-size: 15px;
    line-height: 26px;
    padding: 16px 0 15px 34px;
}

.editor-block-list__block .stm-subscribe-form-block.style_1 .container .form-wrap form .mc4wp-form-fields .input-wrap input[type=submit] {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    background: transparent;
    border-radius: 30px;
    padding: 13px 28px 10px;
    position: relative;
    cursor: pointer;
}
