@import "../../assets/css/mixins";

body .site-content {
    .stm-subscribe-form-block {
        &.style_1 {
            .container {
                text-align: center;

                .block-title {
                    font-weight: 700;
                    margin-bottom: 50px;
                }

                .form-wrap {
                    form {
                        .mc4wp-form-fields {
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            max-width: 580px;

                            h3 {
                                display: none;
                            }

                            label {
                                display: none;
                            }

                            .input-wrap {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                align-items: flex-end;
                                justify-content: center;
                                position: relative;

                                &:before {
                                    content: '\e696';
                                    font-family: 'Linearicons';
                                    font-size: 22px;
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    transform: translateY(-50%);
                                }

                                input[type='email'] {
                                    border-top: 0 !important;
                                    border-right: 0 !important;
                                    border-left: 0 !important;
                                    outline: none;
                                    background: transparent;
                                    max-width: 455px;
                                    width: 100%;
                                    margin-right: 28px;
                                    font-size: 15px;
                                    line-height: 26px;
                                    padding: 16px 0 15px 34px;
                                    -webkit-box-shadow: none;
                                    box-shadow: none;
                                    border-radius: 0;
                                    @include transitionAll;

                                    &:focus, &:hover, &:active {
                                        border-top: 0;
                                        border-right: 0;
                                        border-left: 0;
                                        outline: none;
                                        background: transparent;
                                    }
                                }

                                input[type=submit] {
                                    display: block;
                                    text-align: center;
                                    font-size: 16px;
                                    line-height: 26px;
                                    font-weight: 500;
                                    background: transparent;
                                    border-radius: 30px;
                                    padding: 11px 28px 10px;
                                    position: relative;
                                    cursor: pointer;
                                    @include transitionAll;
                                }
                            }
                        }

                        .mc4wp-response {
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            max-width: 580px;
                            text-align: left;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        @media (max-width: 500px) {
            &.style_1 {
                .container {
                    .form-wrap {
                        form {
                            .mc4wp-form-fields {
                                .input-wrap {
                                    &:before {
                                        margin-top: -2px;
                                        font-size: 18px;
                                    }

                                    input[type='email'] {
                                        font-size: 12px;
                                        padding-left: 24px;
                                        margin-right: 10px;
                                        line-height: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.editor-block-list__block {
    .stm-subscribe-form-block {
        &.style_1 {
            .container {
                text-align: center;

                .block-title {
                    font-weight: 700;
                    margin-bottom: 50px;
                }

                .form-wrap {
                    form {
                        .mc4wp-form-fields {
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            max-width: 580px;

                            h3 {
                                display: none;
                            }

                            label {
                                display: none;
                            }

                            .input-wrap {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                align-items: flex-end;
                                justify-content: center;
                                position: relative;

                                &:before {
                                    content: '\e696';
                                    font-family: 'Linearicons';
                                    font-size: 22px;
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    transform: translateY(-50%);
                                }

                                input[type='email'] {
                                    border-top: 0;
                                    border-right: 0;
                                    border-left: 0;
                                    outline: none;
                                    box-shadow: none;
                                    background: transparent;
                                    max-width: 455px;
                                    width: 100%;
                                    margin-right: 28px;
                                    font-size: 15px;
                                    line-height: 26px;
                                    padding: 16px 0 15px 34px;
                                }

                                input[type=submit] {
                                    display: block;
                                    text-align: center;
                                    font-size: 16px;
                                    line-height: 26px;
                                    font-weight: 500;
                                    background: transparent;
                                    border-radius: 30px;
                                    padding: 13px 28px 10px;
                                    position: relative;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}