body .site-content .socials_widget_wrapper {
    display: block;
    position: relative;
    margin-top: 3px;
    padding: 24px 29px;
    background: #ffffff;
}

body .site-content .socials_widget_wrapper .block-title {
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

body .site-content .socials_widget_wrapper .widget_socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 13px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

body .site-content .socials_widget_wrapper .widget_socials li {
    width: 23%;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 8px;
    padding: 0;
}

body .site-content .socials_widget_wrapper .widget_socials li:nth-child(4n) {
    margin-right: 0;
}

body .site-content .socials_widget_wrapper .widget_socials li.facebook a {
    background: #3b5998;
}

body .site-content .socials_widget_wrapper .widget_socials li.twitter a {
    background: #1da1f2;
}

body .site-content .socials_widget_wrapper .widget_socials li.youtube a {
    background: #ff0000;
}

body .site-content .socials_widget_wrapper .widget_socials li.instagram a {
    background: #820bce;
}

body .site-content .socials_widget_wrapper .widget_socials li.pinterest a {
    background: #bd081c;
}

body .site-content .socials_widget_wrapper .widget_socials li.linkedin a {
    background: #007bb5;
}

body .site-content .socials_widget_wrapper .widget_socials li.google_plus a {
    background: #db4437;
}

body .site-content .socials_widget_wrapper .widget_socials li.google a {
    background: #4285f4;
}

body .site-content .socials_widget_wrapper .widget_socials li.behance a {
    background: #1769ff;
}

body .site-content .socials_widget_wrapper .widget_socials li.dribbble a {
    background: #ea4c89;
}

body .site-content .socials_widget_wrapper .widget_socials li.flickr a {
    background: #f40083;
}

body .site-content .socials_widget_wrapper .widget_socials li.git a {
    background: #333333;
}

body .site-content .socials_widget_wrapper .widget_socials li.linkedin a {
    background: #007bb5;
}

body .site-content .socials_widget_wrapper .widget_socials li.yahoo a {
    background: #430297;
}

body .site-content .socials_widget_wrapper .widget_socials li.delicious a {
    background: #3399ff;
}

body .site-content .socials_widget_wrapper .widget_socials li.dropbox a {
    background: #007ee5;
}

body .site-content .socials_widget_wrapper .widget_socials li.reddit a {
    background: #ff5700;
}

body .site-content .socials_widget_wrapper .widget_socials li.soundcloud a {
    background: #ff5500;
}

body .site-content .socials_widget_wrapper .widget_socials li.skype a {
    background: #00aff0;
}

body .site-content .socials_widget_wrapper .widget_socials li.youtube-play a {
    background: #ff0000;
}

body .site-content .socials_widget_wrapper .widget_socials li.tumblr a {
    background: #2c4762;
}

body .site-content .socials_widget_wrapper .widget_socials li.whatsapp a {
    background: #25d366;
}

body .site-content .socials_widget_wrapper .widget_socials li a {
    display: block;
    line-height: 32px;
    text-align: center;
}

body .site-content .socials_widget_wrapper .widget_socials li a i {
    color: #ffffff;
    margin-right: 0 !important;
}

body .site-content .socials_widget_wrapper.sww_style_2 {
    padding: 0;
}

body .site-content .socials_widget_wrapper.sww_style_2 .block-title {
    line-height: 18px;
    margin-bottom: 36px;
    letter-spacing: 1px;
}

body .site-content .socials_widget_wrapper.sww_style_2 .widget_socials li {
    border-radius: 0;
    width: 22%;
}

body .site-content .socials_widget_wrapper.sww_style_2 .widget_socials li a {
    line-height: 85px;
}

body .site-content .socials_widget_wrapper.sww_style_3 {
    padding-top: 32px;
}

body .site-content .socials_widget_wrapper.sww_style_3 .block-title {
    line-height: 30px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0;
    margin-top: 0;
}

body .site-content .socials_widget_wrapper.sww_style_3 .widget_socials {
    padding: 0 15px;
}

body .site-content .socials_widget_wrapper.sww_style_3 .widget_socials li {
    width: 25%;
    margin: 0;
    padding: 0 5px;
}

body .site-content .socials_widget_wrapper.sww_style_3 .widget_socials li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
    border-radius: 50%;
    width: 100%;
    min-height: 50px;
    border: 1px solid #000000;
}

body .site-content .socials_widget_wrapper.sww_style_3 .widget_socials li a i {
    color: #000000;
    font-size: 20px;
}

@media (max-width: 1024px) {
    body .site-content .socials_widget_wrapper.sww_style_3 .widget_socials {
        padding: 0;
    }

    body .site-content .socials_widget_wrapper.sww_style_3 .widget_socials li a {
        min-height: 45px;
    }
}

.stmt-template-demo_two .site-content .socials_widget_wrapper .block_header_1 {
    margin-bottom: 0;
}

.editor-block-list__block .socials_widget_wrapper {
    display: block;
    position: relative;
    margin-top: 3px;
    padding: 24px 29px;
    background: #ffffff;
}

.editor-block-list__block .socials_widget_wrapper .block-title {
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 17px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li {
    width: 23%;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 8px;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li:nth-child(4n) {
    margin-right: 0;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.facebook a {
    background: #3b5998;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.twitter a {
    background: #1da1f2;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.youtube a {
    background: #ff0000;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.instagram a {
    background: #820bce;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.pinterest a {
    background: #bd081c;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.linkedin a {
    background: #007bb5;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.google_plus a {
    background: #db4437;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.google a {
    background: #4285f4;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.behance a {
    background: #1769ff;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.dribbble a {
    background: #ea4c89;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.flickr a {
    background: #f40083;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.git a {
    background: #333333;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.linkedin a {
    background: #007bb5;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.yahoo a {
    background: #430297;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.delicious a {
    background: #3399ff;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.dropbox a {
    background: #007ee5;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.reddit a {
    background: #ff5700;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.soundcloud a {
    background: #ff5500;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.skype a {
    background: #00aff0;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.youtube-play a {
    background: #ff0000;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.tumblr a {
    background: #2c4762;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li.whatsapp a {
    background: #25d366;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li a {
    display: block;
    line-height: 32px;
    text-align: center;
}

.editor-block-list__block .socials_widget_wrapper .widget_socials li a i {
    color: #ffffff;
}

.editor-block-list__block .socials_widget_wrapper.sww_style_2 {
    padding: 0 !important;
    border-top: none !important;
}

.editor-block-list__block .socials_widget_wrapper.sww_style_2 .block-title {
    line-height: 18px;
    margin-bottom: 36px;
    letter-spacing: 1px;
}

.editor-block-list__block .socials_widget_wrapper.sww_style_2 .widget_socials li {
    border-radius: 0;
    width: 22%;
}

.editor-block-list__block .socials_widget_wrapper.sww_style_2 .widget_socials li a {
    line-height: 85px;
}

.editor-block-list__block .socials_widget_wrapper.sww_style_3 {
    border-top: none !important;
}
