@import "../../assets/css/mixins";
body .site-content, .editor-block-list__block {
    .widget_category_list_wrapper {

        .block-title.block_header_1 {
            margin-top: 0;
            margin-bottom: 11px;
        }

        .category_list {
            ul {
                padding: 0;
                list-style: none;

                li {
                    margin-bottom: 4px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        display: inline-block;
                        position: relative;
                        font-size: 16px;
                        font-weight: 400;
                        padding-left: 24px;
                        line-height: 32px;
                        @include transitionAll();

                        &:before {
                            content: '\e93c';
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: -1px;
                            transform: translateY(-50%);
                            font-family: 'Linearicons';
                            font-size: 10px;
                        }
                    }
                }

                &.style_2 {
                    width: 100%;
                    margin-top: 24px;

                    li {
                        padding: 0;
                        width: 100%;
                        margin-bottom: 20px;

                        a {
                            display: block;
                            overflow: hidden;
                            position: relative;
                            background-size: cover;
                            width: 100%;
                            min-height: 120px;
                            padding: 0;
                            transition: all .2s ease;

                            &.no-img {
                                min-height: 20px;

                                span {
                                    top: 0;
                                }
                            }

                            span {
                                display: block;
                                background: #ffffff;
                                color: #000000;
                                font-size: 11px;
                                line-height: 14px;
                                letter-spacing: 2px;
                                position: absolute;
                                top: 20px;
                                left: 19px;
                                padding: 2px 7px;
                                text-transform: uppercase;
                            }

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}