body .site-content, .editor-block-list__block {
    .widget_mchmp_wrapper {
        display: block;
        overflow: hidden;
        position: relative;
        padding: 35px 40px;

        .subtitle {
            text-align: center;
            font-size: 11px;
            line-height: 24px;
            letter-spacing: 2px;
        }

        .block-title {
            margin-bottom: 22px;
        }

        .widget_mailchimp {
            .form-group {
                display: block;
                width: 100%;
                margin-bottom: 19px;

                input[type='email'] {
                    font-size: 14px;
                    line-height: 20px;
                    height: 50px;
                    text-align: center;
                    padding: 5px;
                    width: 100%;
                }
            }

            .button {
                position: relative;
                width: 100%;
                border-radius: 3px;
                height: 50px;
                opacity: 1;
                transition: all .2s ease-in-out;

                &:hover {
                    opacity: 0.9;
                }

                span {
                    line-height: 50px;
                }
            }
        }

        .tou_text {
            font-size: 12px;
            line-height: 20px;
        }

        &.style_2 {
            padding: 16px 14px;
            margin: 15px 30px 15px;

            .inner {
                display: block;
                border: 1px solid #ffffff;
                padding: 26px 28px 28px;

                .block-title {
                    color: #ffffff;
                    margin-top: 0;
                    line-height: 20px;
                    padding-bottom: 16px;
                    margin-bottom: 21px;

                    &:before {
                        background: #ffffff;
                    }
                }

                .widget_mailchimp {
                    .form-group {
                        margin-bottom: 30px;

                        input[type='email'] {
                            background: transparent;
                            color: #ffffff;
                            height: 50px;
                            line-height: 50px;
                            border-bottom: 1px solid rgba(255,255,255,0.2);

                            &:focus,
                            &:active,
                            &:hover {
                                border-top: 0 !important;
                                border-left: 0 !important;
                                border-right: 0 !important;
                                border-bottom: 1px solid rgba(255,255,255,1) !important;
                            }
                        }
                    }

                    .button {
                        background: #ffffff;

                        span {
                            font-size: 12px;
                            font-weight: 600;
                            color: #000000;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                        }
                    }
                }

                .tou_text {
                    margin-top: 23px;
                    color: #ffffff;
                    font-size: 12px;
                    line-height: 20px;
                    text-align: center;

                    a {
                        color: #ffffff;
                        border-bottom: 1px solid #ffffff;
                    }
                }
            }
        }

        @media( max-width: 1024px ) {
            &.style_2 {
            }
        }
    }
}