body .site-content .widget_must_read_wrapper {
    display: block;
}

body .site-content .widget_must_read_wrapper .block-title {
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 20px;
}

body .site-content .widget_must_read_wrapper .block-title.block_header_1 {
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 20px;
}

body .site-content .widget_must_read_wrapper ul {
    padding-left: 0;
}

body .site-content .widget_must_read_wrapper ul li {
    padding: 0;
}

body .site-content .widget_must_read_wrapper .list_view_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px;
}

body .site-content .widget_must_read_wrapper .list_view_item:last-child {
    margin-bottom: 0;
}

body .site-content .widget_must_read_wrapper .list_view_item .img-wrap {
    display: block;
    width: 39%;
    overflow: hidden;
    border-radius: 5px;
}

body .site-content .widget_must_read_wrapper .list_view_item .img-wrap a img {
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

body .site-content .widget_must_read_wrapper .list_view_item .meta-wrap {
    display: block;
    width: 61%;
    padding-left: 19px;
    padding-top: 4px;
}

body .site-content .widget_must_read_wrapper .list_view_item .meta-wrap .meta-top {
    display: block;
    margin-bottom: 5px;
}

body .site-content .widget_must_read_wrapper .list_view_item .meta-wrap .meta-top h3 {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

body .site-content .widget_must_read_wrapper .list_view_item .meta-wrap .meta-top h3 a {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

body .site-content .widget_must_read_wrapper .list_view_item .meta-wrap .meta-middle .meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

body .site-content .widget_must_read_wrapper .list_view_item .meta-wrap .meta-middle .meta li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    line-height: 24px;
    font-size: 12px;
}

body .site-content .widget_must_read_wrapper .list_view_item .meta-wrap .meta-middle .meta li span {
    font-size: 13px;
    margin-right: 6px;
}

body .site-content .widget_must_read_wrapper .list_view_item .meta-wrap .meta-middle .meta li span.stm-gm-icon-eye {
    font-size: 11px;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .block-title {
    margin-bottom: 35px;
    letter-spacing: 1px;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item:last-child {
    margin-bottom: 0;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item .img-wrap {
    display: block;
    width: 27%;
    overflow: hidden;
    border-radius: 0;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item .img-wrap a img {
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap {
    display: block;
    width: 73%;
    padding-left: 19px;
    padding-top: 6px;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-top {
    display: block;
    margin-bottom: 13px;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-top h3 {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-top h3 a {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-middle .meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-middle .meta li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    line-height: 20px;
    font-size: 12px;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-middle .meta li span {
    font-size: 13px;
    margin-right: 6px;
}

body .site-content .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-middle .meta li span.stm-gm-icon-eye {
    font-size: 11px;
}

.stmt-template-demo_three .site-content .widget_must_read_wrapper {
    background: transparent;
}

.stmt-template-demo_three .site-content .widget_must_read_wrapper .block-title {
    margin-bottom: 29px;
}

.stmt-template-demo_three .site-content .widget_must_read_wrapper ul li .img-wrap {
    width: 32.5%;
}

.stmt-template-demo_three .site-content .widget_must_read_wrapper ul li .meta-wrap {
    width: 67%;
    padding-top: 0;
}

.stmt-template-demo_three .site-content .widget_must_read_wrapper ul li .meta-wrap .meta-top .heading-title {
    font-size: 16px;
    line-height: 22px;
}

.stmt-template-cryptomag .site-content .widget_must_read_wrapper {
    background: transparent !important;
}

.editor-block-list__block .widget_must_read_wrapper {
    display: block;
}

.editor-block-list__block .widget_must_read_wrapper .block-title {
    margin: 0 0 28px;
    letter-spacing: 0;
    line-height: 20px;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item:last-child {
    margin-bottom: 0;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item .img-wrap {
    display: block;
    width: 39%;
    overflow: hidden;
    border-radius: 5px;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item .img-wrap a img {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item .meta-wrap {
    display: block;
    width: 61%;
    padding-left: 19px;
    padding-top: 9px;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item .meta-wrap .meta-top {
    display: block;
    margin-bottom: 5px;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item .meta-wrap .meta-top h3 {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item .meta-wrap .meta-top h3 a {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item .meta-wrap .meta-middle .meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item .meta-wrap .meta-middle .meta li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    line-height: 24px;
    font-size: 12px;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item .meta-wrap .meta-middle .meta li span {
    font-size: 13px;
    margin-right: 6px;
}

.editor-block-list__block .widget_must_read_wrapper .list_view_item .meta-wrap .meta-middle .meta li span.stm-gm-icon-eye {
    font-size: 11px;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .block-title {
    margin-bottom: 35px;
    letter-spacing: 1px;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item:last-child {
    margin-bottom: 0;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item .img-wrap {
    display: block;
    width: 27%;
    overflow: hidden;
    border-radius: 0;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item .img-wrap a img {
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap {
    display: block;
    width: 73%;
    padding-left: 19px;
    padding-top: 6px;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-top {
    display: block;
    margin-bottom: 13px;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-top h3 {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-top h3 a {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-middle .meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-middle .meta li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    line-height: 20px;
    font-size: 12px;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-middle .meta li span {
    font-size: 13px;
    margin-right: 6px;
}

.editor-block-list__block .widget_must_read_wrapper.wmrw_style_2 .list_view_item .meta-wrap .meta-middle .meta li span.stm-gm-icon-eye {
    font-size: 11px;
}

.stmt-template-demo_three .editor-block-list__block .widget_must_read_wrapper {
    background: transparent;
}

.stmt-template-demo_three .editor-block-list__block .widget_must_read_wrapper .block-title {
    margin-bottom: 29px;
}

.stmt-template-demo_three .editor-block-list__block .widget_must_read_wrapper ul li .img-wrap {
    width: 32.5%;
}

.stmt-template-demo_three .editor-block-list__block .widget_must_read_wrapper ul li .meta-wrap {
    width: 67%;
    padding-top: 0;
}

.stmt-template-demo_three .editor-block-list__block .widget_must_read_wrapper ul li .meta-wrap .meta-top .heading-title {
    font-size: 16px;
    line-height: 22px;
}

@media (max-width: 1024px) {
    body .site-content .widget_must_read_wrapper .list_view_item .meta-wrap {
        padding-top: 0;
    }

    body .site-content .widget_must_read_wrapper .list_view_item .meta-wrap .meta-top {
        margin-bottom: 0;
    }

    body .site-content .widget_must_read_wrapper .list_view_item .meta-wrap .meta-top h3 {
        line-height: 20px;
    }
}
