@mixin breakpoint($point) {
	@if $point == laptop {
		@media (max-width: 1440px) {
			@content;
		}
	} @else if $point == tablet {
		@media (max-width: 1024px) {
			@content;
		}
	} @else if $point == tabletunder {
		@media (max-width: 1023px) {
			@content;
		}
	} @else if $point == tabletonly {
		@media (max-width: 769px) {
			@content;
		}
	} @else if $point == mobile {
		@media (max-width: 550px) {
			@content;
		}
	} @else if $point == tabletized {
		@media (max-width: 769px) and (min-width: 425px) {
			@content;
		}
	} @else {
		@media (max-width: $point) {
			@content;
		}
	}
}

html body {
	.header_top {
		.top_nav {
			position: static !important;
			.top_nav_wrapper {
				position: static !important;
				.main_menu_nav {
					position: static !important;
				}
			}
		}
	}
	.top_nav {
		.container {
			position: relative;
			z-index: 15;
		}
	}
}

html body ul,
html body #wrapper #header ul {

	li {
		i {
			margin-right: 10px !important;
		}

		.stm_mega_textarea {
			display: block;
			padding: 10px 0 0 !important;
		}
	}

	li.stm_megamenu {
		position: static !important;

		&__boxed {

			>.sub-menu {
				max-width: 100%;
				width: 100%;
				margin: 20px 0 0;
				left: 0;
			}

			.stm-mm-container{
				border-radius: 2px;

				>.sub-menu {
					margin: 0;
				}
			}
		}

		&__wide {
			>.sub-menu {
				margin: 20px 0 0;
			}

			.stm-mm-container {
				>.sub-menu {
					margin: 0;
				}
			}
		}

		&:hover {
			ul.sub-menu {
				opacity: 1;
				visibility: visible;

				ul.mm-list {
					display: block !important;
				}
			}
		}

		&.stm_megamenu:hover {
			.stm-mm-container {
				opacity: 1;
				visibility: visible;

				.stm-mm-category-filter-wrap, ul.sub-menu {
					display: flex;
				}
			}

			.stm-mega-post-wrap {
				opacity: 1;
				visibility: visible;
			}
		}

		a {
			position: relative;
			text-decoration: none;
		}

		.stm-mega-post-wrap {
			display: block;
			width: 100%;
			max-width: 100%;
			position: absolute;
			top: auto;
			left: 0;
			background: #ffffff;
			padding: 30px;
			box-shadow: 0px 5px 20px -3px rgba(0,0,0,0.1);
			opacity: 0;
			transition: all .3s ease;
			visibility: hidden;
			margin: 20px 0 0;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -15px;
				left: 0;
				right: 0;
				height: 15px;
				background-color: transparent;
			}
		}

		.stm-mm-container {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			width: 100%;
			padding: 0 0 0;
			position: absolute;
			top: auto;
			left: 0;
			background: #ffffff;
			box-shadow: 0px 5px 20px -3px rgba(0,0,0,0.1);
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease;
			margin: 20px 0 0;
			z-index: 40;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -15px;
				left: 0;
				right: 0;
				height: 15px;
				background-color: transparent;
			}

			&.stm-mm-has_bg {
				ul {
					background: transparent !important;
				}
			}

			.stm-mm-category-filter-wrap {
				display: none;
				flex-wrap: nowrap;
				position: relative;

				&.stm-mm-filter-vertical {
					flex-direction: row;

					ul {
						flex-direction: column;
					}
				}

				ul {
					display: flex;
					flex-wrap: nowrap;
					top: inherit;
					left: inherit;
					box-shadow: none;
					padding: 18px 20px;
					margin: 0;
					opacity: 1;
					visibility: visible;
					position: relative;
					background: #f5f5f5;

					li{
						display: block;
						padding: 0;
						border-bottom: 1px solid #cccccc;

						&:last-child {
							border: none;
						}

						a{
							font-size: 15px;
							font-weight: 500;
							padding: 25px 15px;
							line-height: 22px;
						}
					}
				}

				&.stm-mm-posts-vs-default, &.stm-mm-posts-vs-stm-4-col {
					ul {
						background: transparent;
						padding: 13px 20px;

						li {
							border: 0;

							a {
								display: block;
								width: 100%;
								padding: 13px 13px;
								position: relative;

								.stm-mm-chevron {
									display: block;
									width: auto;
									height: 7px;
									position: absolute;
									top: 50%;
									right: 40px;
									transform: translateY(-50%);

									&:before {
										border-style: solid;
										border-width: 1px 1px 0 0;
										content: '';
										display: inline-block;
										height: 7px;
										left: 0;
										transform: rotate(45deg);
										position: relative;
										top: 0;
										vertical-align: top;
										width: 7px;
									}
								}
							}
						}
					}


				}

				.stm-mm-posts-container {
					display: block;
					max-width: 100%;
					opacity: 1;
					transition: all .2s ease-in-out;
					padding: 20px 10px;


					&.loading {
						opacity: 0.8;
					}


					.stm-mm-post-wrap {
						.stm-mm-post {
							.meta-wrap {
								.meta {
									display: flex;
									flex-direction: row;
									flex-wrap: nowrap;
									margin: 0;
									padding: 0;
									background: transparent;

									&:after {
										display: none;
									}

									li {
										display: flex;
										flex-direction: row;
										flex-wrap: nowrap;
										width: auto;
										justify-content: flex-start;
										align-items: center;
										line-height: 20px;
										font-size: 13px;
										border: 0;
										margin: 0;

										a {
											width: auto;
											font-size: 11px;
											border-radius: 2px;
											text-transform: uppercase !important;
											font-weight: 400;
											padding: 2px 10px 1px 0;
											letter-spacing: 1px;
											transition: all .2s ease;
											margin: 0;
										}
									}
								}
							}
						}
					}

					&.stm-mm-posts-view-style-default {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						padding: 0;

						.stm-mm-post-wrap {
							display: block;
							width: 33.333333%;
							padding-bottom: 14px;

							.stm-mm-post {

								a {
									letter-spacing: 0;
									text-transform: none;
									font-size: 14px;

									.img {
										display: block;
										width: 100%;
										overflow: hidden;

										img {
											display: block;
											height: 218px;
											width: 100%;
											object-fit: cover;
											margin-bottom: 0;
											transition: all .3s ease-in-out;
											transform: scale(1) translateZ(0);
										}
									}

									h4 {
										margin-top: 8px;
										margin-bottom: 10px;
										line-height: 24px;
										letter-spacing: 0;
										text-transform: none;
										font-weight: 400;
										padding-right: 30px;
									}

									&:hover {
										.img {
											img {
												transform: scale(1.05) translateZ(0);
											}
										}
									}
								}
							}
						}
					}

					&.stm-mm-posts-view-style-stm-mm-hl {
						display: block;
						position: relative;
						overflow: hidden;

						.stm-mm-post-wrap {
							display: block;
							width: 33.33%;
							float: left;
							padding: 10px;


							.stm-mm-post {
								display: flex;
								flex-direction: row;
								align-items: center;
								letter-spacing: 0;
								text-transform: none;
								font-size: 14px;

								a {
									width: 34%;

									.img {
										display: block;
										overflow: hidden;

										img {
											display: block;
											width: 100%;
											height: 97px;
											max-height: 97px;
											object-fit: cover;
											margin-bottom: 0;
											margin-top: 0;
											transition: all .3s ease-in-out;
											transform: scale(1) translateZ(0);
										}
									}

									&:hover {
										.img {
											img {
												transform: scale(1.05) translateZ(0);
											}
										}
									}
								}

								.meta-wrap {
									width: 66%;
									padding-left: 20px;

									h4 {
										display: block;
										width: 100%;
										margin-top: 0;
										margin-bottom: 7px;
										line-height: 22px;
										letter-spacing: 0;
										text-transform: none;
										position: relative;
										word-wrap: break-word;
										overflow: hidden;
										max-height: 44px;
										text-align:left;
									}

									.meta {
										margin-top: 0;

										li {
										}
									}
								}
							}

							&:first-child {
								margin-bottom: 0;

								.stm-mm-post {
									flex-direction: column;
									justify-content: flex-start;

									a {
										width: 100%;
										margin-bottom: 0;

										.img{
											width: 100%;
											min-height: 240px;

											img{
												display: block;
												width: 100%;
												height: 100%;
												position: relative;
												min-height: 250px;
											}
										}

										h4 {
											width: 100%;
											font-size: 22px;
											line-height: 30px;
											margin-top: 5px;
											padding: 0;
											text-transform: none;
											letter-spacing: 0;
											margin-bottom: 0;
										}
									}

									.meta-wrap {
										width: 100%;
										margin-top: 12px;
										padding-left: 0;

										.meta {
											li {
												a {
													padding-left: 0;
													font-size: 13px;
													font-weight: 400;
													letter-spacing: 0;
													padding-right: 5px;
												}
											}
										}
									}
								}
							}
						}
					}

					&.stm-mm-posts-view-style-stm-4-col {
						display: block;
						position: relative;
						overflow: hidden;

						.stm-mm-post-wrap {
							display: block;
							width: 25%;
							float: left;
							padding: 5px;


							.stm-mm-post {

								a {
									letter-spacing: 0;
									text-transform: none;
									font-size: 14px;

									.img {
										display: block;
										width: 100%;
										overflow: hidden;

										img {
											display: block;
											width: 100%;
											height: 140px;
											object-fit: cover;
											margin-bottom: 0;
											margin-top: 0;
											transition: all .3s ease-in-out;
											transform: scale(1) translateZ(0);
										}
									}

									h4 {
										width: 100%;
										margin-top: 10px;
										margin-bottom: 10px;
										line-height: 26px;
										letter-spacing: 0;
										text-transform: none;
										padding-left: 0;
									}

									&:hover {
										.img {
											img {
												transform: scale(1.05) translateZ(0);
											}
										}
									}
								}
							}
						}
					}
				}

				&.stm-mm-filter-horizontal {
					flex-direction: column;

					ul {
						display: block;
						width: 100% !important;
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;
						padding: 16px 20px 13px;
						background: transparent;

						li {
							width: auto;
							display: inline-block;
							border: 0;

							a{
								display: inline-block;
								width: auto;
								font-size: 15px;
								padding: 10px 50px 10px 0;

								i {
									display: none !important;
								}
							}
						}
					}

					.stm-mm-posts-container {
						max-width: 100% !important;
						padding: 0 15px 23px;

						.stm-mm-post-wrap {
							padding: 0 5px;

							.stm-mm-post {
								a {
									h4{
										margin-top: 18px;
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}

				&.stm-mm-personal-layout-wrap.stm-mm-posts-vs-default {
					>ul {
						width: 18% !important;
						padding: 22px 0;
						background: #f5f5f5 !important;

						li {
							padding: 0 20px;
							background: transparent;
							transition: all .2s ease;

							&:hover {
								background: #ffffff;
							}

							a {
								padding-left: 9px;
								font-size: 14px;
								font-weight: 500;
								letter-spacing: 2px;
								text-transform: uppercase !important;

								i {
									right: 0;
									margin-right: 3px !important;
								}
							}
						}
					}

					&.stm-mm-filter-horizontal {
						>ul {
							width: 100% !important;
							padding: 10px 0 10px 10px;

							li {
								&:hover {
									background: transparent;
								}

								a {
									padding: 10px 0px;
								}
							}
						}
					}

					.stm-mm-posts-container.stm-mm-posts-view-style-default {
						width: 100% !important;
						padding: 40px 13px 30px;

						.stm-mm-personal-layout-item {
							padding: 0 15px;

							.stm-mm-post {
								a {
									.img {
										position: relative;
										max-height: 190px;
										margin-bottom: 12px;

										i{
											display: block !important;
											position: absolute;
											top: 50%;
											left: 50%;
											-webkit-transform: translateY(-50%) translateX(-50%);
											transform: translateY(-50%) translateX(-50%);
											color: #ffffff;
											font-size: 64px;
											opacity: 1;
											-webkit-transition: all .4s ease-in-out;
											transition: all .4s ease-in-out;
											z-index: 10;
										}
									}

									h4 {
										font-size: 18px;
										font-weight: 400;
										line-height: 24px;
										padding-right: 10px;
										margin-bottom: 0;
									}

									.date {
										display: block !important;
										font-size: 12px;
										font-weight: 300;
										line-height: 30px;
										margin-top: 0px;
										color: #999999;
									}
								}
							}
						}
					}
				}

				&.stm-mm-personal-layout-wrap.stm-mm-posts-vs-stm-mm-hl {

					.stm-mm-posts-view-style-stm-mm-hl {
						padding: 30px 20px 10px;

						.stm-mm-post-wrap {
							.stm-mm-post {
								.meta-wrap {
									display: block;
									position: relative;
									width: 84%;
									margin: -40px auto 0;
									padding: 19px 28px;
									background: #ffffff;

									.category {
										a {
											text-transform: uppercase;
											font-size: 12px;
											line-height: 30px;
											font-weight: 500;
											letter-spacing: 2px;
										}
									}

									.meta-middle {
										margin-top: -4px;

										h3 {
											position: relative;
											padding-bottom: 17px;
											margin-bottom: 17px;
											font-weight: 400;
											line-height: 18px;


											a {
												color: #000000;
												font-size: 18px;
												line-height: 18px;
												text-transform: capitalize;
												letter-spacing: 0;
											}

											&:before {
												content: '';
												display: block;
												width: 21%;
												height: 1px;
												position: absolute;
												bottom: 0;
												left: 0;
												z-index: 11;
												background: #bfbfbf;
											}
										}
									}

									.meta-bottom {
										.meta {
											li {
												font-size: 12px;
												color: #999999;
											}
										}
									}
								}
							}
						}

						.stm-mm-post-wrap:not(:first-child) {
							&:nth-child(3n) {
								margin: 11px 0 12px;
							}
							.stm-mm-post {
								display: flex;
								flex-direction: row;
								flex-wrap: nowrap;
								align-items: flex-start;

								a {
									width: 38%;

									.img {
										max-height: 80px;
										img{

										}
									}
								}

								.meta-wrap {
									width: 62%;
									padding: 5px 10px 0 14px;
									margin-top: 0;

									a {
										h4 {
											color: #000000;
											font-size: 18px;
											line-height: 24px;
											text-transform: capitalize;
											letter-spacing: 0;
										}
									}

									ul {
										.category {
											display: none;
										}
									}
								}
							}
						}
					}

					.stm-mm-more-this {
						display: block !important;
						position: absolute;
						bottom: 30px;
						right: 30px;

						a {
							padding-right: 30px;
							font-size: 12px;
							font-weight: 500;
							color: #888888;
							position: relative;
							letter-spacing: 2px;

							&:after {
								content: '\e90c';
								display: block;
								font-family: 'gutenmag-font';
								font-size: 10px;
								position: absolute;
								right: 0;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}
				}
			}

			.sub-menu {
				display: none;
				flex-direction: row;
				justify-content: flex-start;
				width: 100%;
				position: relative;
				top: inherit;
				left: inherit;
				opacity: 1;
				visibility: visible;
				border-top: 1px solid #cccccc;
				padding: 0;

				li {
					width: auto;
					padding: 10px 0;
					border: 0;

					&:first-child {
						a {
							border: 0;
						}
					}

					a {
						padding: 10px 40px;
						text-align: center;
						font-size: 14px;
						font-weight: 600;
						border-left: 1px solid #cccccc;
					}
				}
			}
		}

		&__wide {
			.stm-mega-post-wrap, >.sub-menu, .stm-mm-container {
				width: 100vw !important;
				margin-left: inherit !important;
				max-width: 100vw;
				left: calc(-1*(100vw - 100%)/2);
			}

			.stm-mm-container {
				.sub-menu {
					margin: 0 !important;
				}
			}
		}

		&.stm_menu_item_has_children {
			.stm-mm-container {
				.stm-mm-category-filter-wrap {
					>ul {
						width: 32.1%;
					}

					&.stm-mm-posts-vs-stm-4-col {
						>ul {
							width: 25%;
							padding: 13px 0 13px 20px
						}

						.stm-mm-posts-container {

							width: 75%;
						}
					}

					.stm-mm-posts-container{
						width: 67.9% ;

						&.stm-mm-posts-view-style-stm-mm-hl {
							.stm-mm-post-wrap {
								width: 51%;

								&.stm-mm-post-wrap {
									width: 48.5%;

								}
							}
						}
					}

					&.stm-mm-posts-vs-default {
						ul {
							background: transparent;
							width: 23%;

							li {
								border: 0;
							}
						}

						.stm-mm-posts-container {
							width: 77%;
						}
					}

					&.stm-mm-filter-horizontal {
						.stm-mm-posts-container{
							max-width: 100% ;
							padding: 0 7.5px 23px;

							&.stm-mm-posts-view-style-stm-mm-hl {
								.stm-mm-post-wrap {
									width: 33.33%;
									margin-bottom: 15px;
									padding: 0 7.5px;

									&:first-child {
										margin-bottom: 0;
									}
								}
							}

							&.stm-mm-posts-view-style-stm-4-col {
								padding: 0 15px 23px;

								.stm-mm-post-wrap {
									.stm-mm-post {
										a {
											.img {
												img {
													height: 200px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

		&.menu-item-has-children.stm_menu_item_no_children {
			.stm-mm-container {
				flex-direction: row-reverse;

				.stm-mm-category-filter-wrap {
					width: 67.9% ;

					.stm-mm-posts-container{
						width: 100%;

						&.stm-mm-posts-view-style-default {
							padding-top: 20px;
						}

						&.stm-mm-posts-view-style-stm-mm-hl {
							padding-top: 20px;

							.stm-mm-post-wrap {
								width: 51%;

								&.stm-mm-post-wrap {
									width: 48.5%;
									margin-bottom: 10px;
								}
							}
						}
					}
				}

				.sub-menu {
					width: 32.1%;
					border: 0;
					box-shadow: none;
					display: none;
					flex-direction: column;
					flex-wrap: nowrap;
					top: inherit;
					left: inherit;
					padding: 18px 20px;
					margin: 0;
					opacity: 1;
					visibility: visible;
					position: relative;
					background: #f5f5f5;

					li{
						display: block;
						padding: 0;
						border-bottom: 1px solid #cccccc;

						&:last-child {
							border: none;
						}

						a{
							font-size: 15px;
							font-weight: 500;
							padding: 25px 15px;
							line-height: 22px;
							border: 0;
							text-align: left;
						}
					}
				}
			}
		}

		&.stm_menu_vs_default.stm_menu_item_no_children:not(.menu-item-has-children) {
			.stm-mm-container {
				.stm-mm-posts-vs-default {
					.stm-mm-posts-view-style-default {
						width: 100%;
					}
				}
			}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin-top: -18px;
			margin-bottom: 16px;
			position: relative;
			overflow: hidden;
		}
		//LVL 2
		> ul.sub-menu {
			display: flex;
			top: auto;
			flex-wrap: wrap;
			background-size: cover;

			&:after {
				width: 100%;
			}
			&:last-child {
				//left: 0 !important;
			}

			> li {
				width: 25%;
				float: none;
				padding: 0 20px;
				margin: 10px 0;
				border: 0;

				> a {
					padding: 0;
					letter-spacing: 0;
					font-weight: 700;
					font-size: 16px;
				}
				&:hover {
					> a {
						background-color: transparent !important;
					}
				}

				&.menu-item-has-children {
					a {
						padding-bottom: 20px;
					}
				}

				/*LVL3*/
				ul.sub-menu {
					width: auto;
					padding: 0;
					margin: 0 -15px;
					position: static;
					box-shadow: none;
					background-color: transparent !important;
					&:after {
						display: none;
					}
					> li {
						float: left;
						width: 100%;
						padding: 0 15px;
						border: 0 !important;
						> a {
							padding: 10px 0 10px 10px;
							margin-bottom: 0;
							border: 0;
							letter-spacing: 0;
							text-transform: none;
							font-weight: 400;
							font-size: 14px;
						}

						&.stm_mega_has_info {
							&:hover {
								cursor: default;
								color: inherit !important;
							}

							a:hover {
								background: transparent !important;
								color: inherit !important;
								cursor: default;
							}
						}

						&:hover {
							> a {
							}
						}
						.stm_mega_textarea {
							display: block;
							line-height: 18px;
							margin-bottom: 20px;
							position: relative;
							font-weight: 400;
							font-size: 13px;
							z-index: 10;
							cursor: default;
						}

						ul.mm-list{
							display: none;
							position: relative;
							top: inherit;
							left: inherit;
							padding: 0;
							margin: 10px 0 0;
							opacity: 1;
							visibility: visible;

							&:after {
								display: none;
							}

							li{
								display: flex;
								align-items: baseline;
								padding: 0;
								white-space: normal;
								line-height: 26px;
								font-weight: 400;
								margin-bottom: 10px;
								border: 0;

								i.fa{
									vertical-align: middle;
									margin-bottom: 3px;
								}
							}
						}

						&:last-child {
							a {
								margin-bottom: 0 !important;
							}
							.stm_mega_textarea {
								margin-bottom: 0;
							}
						}

						/*LVL4*/
						ul.sub-menu {
							margin: 0;
							border: 0;
							> li {
								width: 100%;
								padding: 0;
							}
						}

						/* Megamenu second column width */
						&.stm_mega_second_col_width_1 {
							width: 8.33333333%;
						}
						&.stm_mega_second_col_width_2 {
							width: 16.66666667%;
						}
						&.stm_mega_second_col_width_3 {
							width: 25%;
						}
						&.stm_mega_second_col_width_4 {
							width: 33.33333333%;
						}
						&.stm_mega_second_col_width_5 {
							width: 41.66666667%;
						}
						&.stm_mega_second_col_width_6 {
							width: 50%;
						}
						&.stm_mega_second_col_width_7 {
							width: 58.33333333%;
						}
						&.stm_mega_second_col_width_8 {
							width: 66.66666667%;
						}
						&.stm_mega_second_col_width_9 {
							width: 75%;
						}
						&.stm_mega_second_col_width_10 {
							width: 83.33333333%;
						}
						&.stm_mega_second_col_width_11 {
							width: 91.66666667%;
						}
						&.stm_mega_second_col_width_12 {
							width: 100%;
						}
					}
				}

				/* Megamenu column width */
				&.stm_col_width_1 {
					width: 8.33333333%;
				}
				&.stm_col_width_2 {
					width: 16.66666667%;
				}
				&.stm_col_width_3 {
					width: 25%;
				}
				&.stm_col_width_4 {
					width: 33.33333333%;
				}
				&.stm_col_width_5 {
					width: 41.66666667%;
				}
				&.stm_col_width_6 {
					width: 50%;
				}
				&.stm_col_width_7 {
					width: 58.33333333%;
				}
				&.stm_col_width_8 {
					width: 66.66666667%;
				}
				&.stm_col_width_9 {
					width: 75%;
				}
				&.stm_col_width_10 {
					width: 83.33333333%;
				}
				&.stm_col_width_11 {
					width: 91.66666667%;
				}
				&.stm_col_width_12 {
					width: 100%;
				}
			}

			/* Megamenu child columns width */
			.stm_mega_cols_inside {
				&_1 {
					> ul.sub-menu {
						> li {
							width: 8.33333333%;
						}
					}
				}
				&_2 {
					> ul.sub-menu {
						> li {
							width: 16.66666667%;
						}
					}
				}
				&_3 {
					> ul.sub-menu {
						> li {
							width: 25%;
						}
					}
				}
				&_4 {
					> ul.sub-menu {
						> li {
							width: 33.33333333%;
						}
					}
				}
				&_5 {
					> ul.sub-menu {
						> li {
							width: 41.66666667%;
						}
					}
				}
				&_6 {
					> ul.sub-menu {
						> li {
							width: 50%;
						}
					}
				}
				&_7 {
					> ul.sub-menu {
						> li {
							width: 58.33333333%;
						}
					}
				}
				&_8 {
					> ul.sub-menu {
						> li {
							width: 66.66666667%;
						}
					}
				}
				&_9 {
					> ul.sub-menu {
						> li {
							width: 75%;
						}
					}
				}
				&_10 {
					> ul.sub-menu {
						> li {
							width: 83.33333333%;
						}
					}
				}
				&_11 {
					> ul.sub-menu {
						> li {
							width: 91.66666667%;
						}
					}
				}
				&_12 {
					> ul.sub-menu {
						> li {
							width: 100%;
						}
					}
				}
			}
		}

		/* Megamenu columns width */
		&_1 {
			> ul.sub-menu {
				> li {
					width: 8.33333333%;
				}
			}
		}
		&_2 {
			> ul.sub-menu {
				> li {
					width: 16.66666667%;
				}
			}
		}
		&_3 {
			> ul.sub-menu {
				> li {
					width: 25%;
				}
			}
		}
		&_4 {
			> ul.sub-menu {
				> li {
					width: 33.33333333%;
				}
			}
		}
		&_5 {
			> ul.sub-menu {
				> li {
					width: 41.66666667%;
				}
			}
		}
		&_6 {
			> ul.sub-menu {
				> li {
					width: 50%;
				}
			}
		}
		&_7 {
			> ul.sub-menu {
				> li {
					width: 58.33333333%;
				}
			}
		}
		&_8 {
			> ul.sub-menu {
				> li {
					width: 66.66666667%;
				}
			}
		}
		&_9 {
			> ul.sub-menu {
				> li {
					width: 75%;
				}
			}
		}
		&_10 {
			> ul.sub-menu {
				> li {
					width: 83.33333333%;
				}
			}
		}
		&_11 {
			> ul.sub-menu {
				> li {
					width: 91.66666667%;
				}
			}
		}
		&_12 {
			> ul.sub-menu {
				> li {
					width: 100%;
				}
			}
		}

		.stm_megaicon,
		.fa {
			margin-right: 10px;
			display: inline-block;
			vertical-align: top;
			min-width: 16px;
			font-size: 14px;
		}
	}
}

@media only screen and (max-width: 1199px) {
	html body.header_4 ul.header-menu {
		li {

			&.active{
				&:after{
					content: '\f107' !important;
				}
			}

			&.menu-item-has-children {
				padding-right: 40px;
				&:after {
					content: "\f105";
					display: block;
					font-family: 'FontAwesome';
					font-size: 21px;
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translateY(-50%);

				}

				a{
					&:after{
						display: none !important;
					}
				}

				&.active{
					> ul.sub-menu{
						visibility: visible !important;
						opacity: 1 !important;

						>li{
							overflow: visible;

							> ul.sub-menu {
								visibility: visible !important;
								opacity: 1 !important;
							}
						}
					}
				}
			}
			//LVL 2
			> ul.sub-menu {
				> li {
					&:after{
						display: none !important;
					}
					padding: 0 20px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	html body.header_style_7,
	html body.header_style_8 {
		li.stm_megamenu_vertical {
			ul.sub-menu {
				li {
					padding-left: 0 !important;
				}
			}
		}
	}
	html body.mobile_grid_landscape ul {
		li.stm_megamenu {
			position: relative !important;

			img {
				margin-top: 0;
			}

			//LVL 2
			> ul.sub-menu {
				width: 100% !important;
				> li {
					width: 100% !important;
					padding: 0;
					> a {
						padding-bottom: 11px !important;
					}

					//LVL 3
					> ul.sub-menu {
						background-color: #ffffff !important;
						> li {
							float: none;
							width: auto;
							padding: 0;
							position: relative;
							> a {
								padding: 11px 45px !important;
								margin: 0 !important;
							}
						}
					}
				}
			}

			.stm_megaicon,
			.fa {
				line-height: 20px;
				margin-top: 0 !important;
			}
		}
	}
}

@media only screen and (max-width: 992px) {
	html body ul {
		li.stm_megamenu {
			position: relative !important;

			img {
				margin-top: 0;
			}

			.stm-mega-post-wrap {
				display: none !important;
			}


			.stm-mm-container {
				display: none !important;
				box-shadow: none !important;
				margin-top: 0 !important;

				&:after {
					display: none !important;
				}

				.stm-mm-category-filter-wrap {
					display: none !important;
				}

				>.sub-menu {
					flex-direction: column !important;
					box-shadow: none !important;
					border: 0 !important;

					li {
						a {
							border: 0 !important;
							font-size: 14px !important;
							font-weight: 400 !important;
							line-height: 18px !important;
							text-decoration: none!important;
							text-transform: none!important;
							letter-spacing: .3px !important;
							padding: 10px 0 10px 35px !important;
						}
					}
				}
			}

			&.active .stm-mm-container {
				display: block !important;
				position: relative !important;
				box-shadow: none !important;
				margin-top: 0 !important;

				&:after {
					display: none !important;
				}

				.stm-mm-category-filter-wrap {
					display: none !important;
				}

				>.sub-menu {
					flex-direction: column !important;
					box-shadow: none !important;
					border: 0 !important;

					li {
						a {
							border: 0 !important;
							font-size: 14px !important;
							font-weight: 400 !important;
							line-height: 18px !important;
							text-decoration: none!important;
							text-transform: none!important;
							letter-spacing: .3px !important;
							padding: 10px 0 10px 35px !important;
						}
					}
				}
			}

			//LVL 2
			> ul.sub-menu {
				width: 100% !important;
				> li {
					width: 100% !important;
					padding: 0;
					> a {
						padding-bottom: 11px !important;
					}

					//LVL 3
					> ul.sub-menu {
						background-color: #ffffff !important;
						> li {
							float: none;
							width: auto;
							padding: 0;
							position: relative;
							> a {
								padding: 11px 45px !important;
								margin: 0 !important;
							}
						}
					}
				}
			}

			.stm_megaicon,
			.fa {
				line-height: 20px;
				margin-top: 0 !important;
			}
		}
	}
}

@media only screen and (max-width: 770px) {
	html body.header_4 ul.header-menu {
		li {

			&.active{
				&:after{
					content: '\f107' !important;
				}
			}

			&.menu-item-has-children {
				padding-right: 40px;
				&:after {
					content: "\f105";
					display: block;
					font-family: 'FontAwesome';
					font-size: 21px;
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translateY(-50%);

				}

				a{
					&:after{
						display: none !important;
					}
				}

				&.active{
					> ul.sub-menu{
						visibility: visible !important;
						opacity: 1 !important;

						>li{
							overflow: hidden;

							> ul.sub-menu {
								height: 100% !important;
								visibility: visible !important;
								opacity: 1 !important;
							}
						}
					}
				}
			}
		}
	}

	html {
		body {
			ul {
				li{
					&.stm_megamenu.menu-item-has-children.stm_menu_item_no_children {
						.stm-mm-container {
							.sub-menu {
								background: transparent;
							}
						}
					}
				}
			}

			#header {
				ul {
					li {
						&.stm_megamenu.menu-item-has-children.stm_menu_item_no_children {
							.stm-mm-container {
								.sub-menu {
									width: 100% !important;
									background: transparent !important;

									li {
										border-bottom: 0 !important;

										a {
											padding-left: 10px !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}



