.wp-block-jci-blocks-secondblock {
  background-color: #524d5b;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.jci-block-placeholder {
  text-align: center;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: green;
  color: white;
}
