@import "../../assets/css/mixins";
body .site-content {
    .widget_tag_cloud_wrapper {

        .block-title {
            margin-top: 0;
            margin-bottom: 27px;

            &.block_header_1 {
                margin-top: 0;
                margin-bottom: 27px;
            }
        }

        .tagcloud {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            a.tag-cloud-link {
                font-size: 12px !important;
                font-weight: 500;
                padding: 2px 11px;
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 2px;
                text-transform: lowercase;
                letter-spacing: 1px;
                @include transitionAll();
            }
        }
    }
}

.editor-block-list__block {
    .widget_tag_cloud_wrapper {

        .block-title {
            margin-top: 0;
            margin-bottom: 27px;

            &.block_header_1 {
                margin-top: 0;
                margin-bottom: 27px;
            }
        }

        .tagcloud {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            a.tag-cloud-link {
                font-size: 12px !important;
                font-weight: 500;
                padding: 2px 11px;
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 2px;
                text-transform: lowercase;
                letter-spacing: 1px;
                @include transitionAll();
            }
        }
    }
}