body .site-content .widget_mchmp_wrapper, .editor-block-list__block .widget_mchmp_wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 35px 40px;
}

body .site-content .widget_mchmp_wrapper .subtitle, .editor-block-list__block .widget_mchmp_wrapper .subtitle {
    text-align: center;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 2px;
}

body .site-content .widget_mchmp_wrapper .block-title, .editor-block-list__block .widget_mchmp_wrapper .block-title {
    margin-bottom: 22px;
}

body .site-content .widget_mchmp_wrapper .widget_mailchimp .form-group, .editor-block-list__block .widget_mchmp_wrapper .widget_mailchimp .form-group {
    display: block;
    width: 100%;
    margin-bottom: 19px;
}

body .site-content .widget_mchmp_wrapper .widget_mailchimp .form-group input[type='email'], .editor-block-list__block .widget_mchmp_wrapper .widget_mailchimp .form-group input[type='email'] {
    font-size: 14px;
    line-height: 20px;
    height: 50px;
    text-align: center;
    padding: 5px;
    width: 100%;
}

body .site-content .widget_mchmp_wrapper .widget_mailchimp .button, .editor-block-list__block .widget_mchmp_wrapper .widget_mailchimp .button {
    position: relative;
    width: 100%;
    border-radius: 3px;
    height: 50px;
    opacity: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

body .site-content .widget_mchmp_wrapper .widget_mailchimp .button:hover, .editor-block-list__block .widget_mchmp_wrapper .widget_mailchimp .button:hover {
    opacity: 0.9;
}

body .site-content .widget_mchmp_wrapper .widget_mailchimp .button span, .editor-block-list__block .widget_mchmp_wrapper .widget_mailchimp .button span {
    line-height: 50px;
}

body .site-content .widget_mchmp_wrapper .tou_text, .editor-block-list__block .widget_mchmp_wrapper .tou_text {
    font-size: 12px;
    line-height: 20px;
}

body .site-content .widget_mchmp_wrapper.style_2, .editor-block-list__block .widget_mchmp_wrapper.style_2 {
    padding: 16px 14px;
    margin: 15px 30px 15px;
}

body .site-content .widget_mchmp_wrapper.style_2 .inner, .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner {
    display: block;
    border: 1px solid #ffffff;
    padding: 26px 28px 28px;
}

body .site-content .widget_mchmp_wrapper.style_2 .inner .block-title, .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner .block-title {
    color: #ffffff;
    margin-top: 0;
    line-height: 20px;
    padding-bottom: 16px;
    margin-bottom: 21px;
}

body .site-content .widget_mchmp_wrapper.style_2 .inner .block-title:before, .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner .block-title:before {
    background: #ffffff;
}

body .site-content .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .form-group, .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .form-group {
    margin-bottom: 30px;
}

body .site-content .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .form-group input[type='email'], .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .form-group input[type='email'] {
    background: transparent;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

body .site-content .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .form-group input[type='email']:focus, body .site-content .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .form-group input[type='email']:active, body .site-content .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .form-group input[type='email']:hover, .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .form-group input[type='email']:focus, .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .form-group input[type='email']:active, .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .form-group input[type='email']:hover {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid white !important;
}

body .site-content .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .button, .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .button {
    background: #ffffff;
}

body .site-content .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .button span, .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner .widget_mailchimp .button span {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body .site-content .widget_mchmp_wrapper.style_2 .inner .tou_text, .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner .tou_text {
    margin-top: 23px;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

body .site-content .widget_mchmp_wrapper.style_2 .inner .tou_text a, .editor-block-list__block .widget_mchmp_wrapper.style_2 .inner .tou_text a {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
