$height: image-height(sprite-file($pack, prev));

.theiaPostSlider_nav {
    ._title {
        height: $height;

        line-height: $height;
    }

    ._button {
        text-indent: -9999px;

        font-size: 0;

        &:focus {
            outline: none;
        }
    }

    ._prev {
        @include sprite-dimensions($pack, prev);
        background: sprite($pack, prev);

        &:hover,
        &:focus {
            background: sprite($pack, prev_hover);
        }

        &._disabled {
            background: sprite($pack, prev_disabled);
        }
    }

    ._next {
        @include sprite-dimensions($pack, next);
        background: sprite($pack, next);

        &:hover,
        &:focus {
            background: sprite($pack, next_hover);
        }

        &._disabled {
            background: sprite($pack, next_disabled);
        }
    }
}