@import "_common";

$pack: sprite-map("buttons-blue/*.png",
$buttons-blue-prev-normal-2-repeat: repeat-x,
$buttons-blue-prev-hover-2-repeat: repeat-x,
$buttons-blue-prev-active-2-repeat: repeat-x,
$buttons-blue-prev-disabled-2-repeat: repeat-x,
$buttons-blue-next-normal-2-repeat: repeat-x,
$buttons-blue-next-hover-2-repeat: repeat-x,
$buttons-blue-next-active-2-repeat: repeat-x,
$buttons-blue-next-disabled-2-repeat: repeat-x
);

@import "_buttons";