@import "_common";

$pack: sprite-map("buttons-green/*.png",
$buttons-green-prev-normal-2-repeat: repeat-x,
$buttons-green-prev-hover-2-repeat: repeat-x,
$buttons-green-prev-active-2-repeat: repeat-x,
$buttons-green-prev-disabled-2-repeat: repeat-x,
$buttons-green-next-normal-2-repeat: repeat-x,
$buttons-green-next-hover-2-repeat: repeat-x,
$buttons-green-next-active-2-repeat: repeat-x,
$buttons-green-next-disabled-2-repeat: repeat-x
);

@import "_buttons";