@import "_common";

$pack: sprite-map("buttons-green-light/*.png",
$buttons-green-light-prev-normal-2-repeat: repeat-x,
$buttons-green-light-prev-hover-2-repeat: repeat-x,
$buttons-green-light-prev-active-2-repeat: repeat-x,
$buttons-green-light-prev-disabled-2-repeat: repeat-x,
$buttons-green-light-next-normal-2-repeat: repeat-x,
$buttons-green-light-next-hover-2-repeat: repeat-x,
$buttons-green-light-next-active-2-repeat: repeat-x,
$buttons-green-light-next-disabled-2-repeat: repeat-x
);

@import "_buttons";
