@import "_common";

$pack: sprite-map("buttons-black/*.png",
$buttons-black-prev-normal-2-repeat: repeat-x,
$buttons-black-prev-hover-2-repeat: repeat-x,
$buttons-black-prev-active-2-repeat: repeat-x,
$buttons-black-prev-disabled-2-repeat: repeat-x,
$buttons-black-next-normal-2-repeat: repeat-x,
$buttons-black-next-hover-2-repeat: repeat-x,
$buttons-black-next-active-2-repeat: repeat-x,
$buttons-black-next-disabled-2-repeat: repeat-x
);

@import "_buttons";