@import "_common";

$pack: sprite-map("buttons-red/*.png",
$buttons-red-prev-normal-2-repeat: repeat-x,
$buttons-red-prev-hover-2-repeat: repeat-x,
$buttons-red-prev-active-2-repeat: repeat-x,
$buttons-red-prev-disabled-2-repeat: repeat-x,
$buttons-red-next-normal-2-repeat: repeat-x,
$buttons-red-next-hover-2-repeat: repeat-x,
$buttons-red-next-active-2-repeat: repeat-x,
$buttons-red-next-disabled-2-repeat: repeat-x
);

@import "_buttons";