@import "_common";

$pack: sprite-map("buttons-purple/*.png",
$buttons-purple-prev-normal-2-repeat: repeat-x,
$buttons-purple-prev-hover-2-repeat: repeat-x,
$buttons-purple-prev-active-2-repeat: repeat-x,
$buttons-purple-prev-disabled-2-repeat: repeat-x,
$buttons-purple-next-normal-2-repeat: repeat-x,
$buttons-purple-next-hover-2-repeat: repeat-x,
$buttons-purple-next-active-2-repeat: repeat-x,
$buttons-purple-next-disabled-2-repeat: repeat-x
);

@import "_buttons";
