$black: #000000;
$white: #ffffff;
$gray: #cccccc;
$gray_1: #d1d1d1;
$gray_2: #f5f5f5;
$gray_59: #595959;
$gray_79: #797979;
$gray_88: #888888;
$gray_99: #999999;
$gray_light: #eef1f7;
$gray_a7: #a7a7a7;
$gray_b1: #b1b1b1;
$gray_bf: #bfbfbf;
$gray_e5: #e5e5e5;
$gray_comment: #cfced4;
$dark: #273044;
$dark_1c: #1c1c1c;
$dark_12: #121212;
$dark_36: #363636;
$dark_31: #313131;
$blue: #195ec8;
$blue_2: #0089d8;
$blue_3: #5868e2;
$blue_author: #3445bf;

$primaryColor: #4fbe6e;
$secondaryColor: #2299dd;

$heading: #222222;
$content: #252525;



$instagram: #820bce;
$google_plus: #db4437;
$google: #4285f4;
$behance: #1769ff;
$git: #333333;
$delicious: #3399ff;
$dropbox: #007ee5;
$youtube-play: #ff0000;
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagrammagenta: #c32aa3;
$instagramblue: #4c5fd7;
$instagrampurple: #7232bd;
$instagramorange: #f46f30;
$instagramyellow: #ffdc7d;
$googleblue: #4285f4;
$googlered: #ea4335;
$googleyellow: #fbbc05;
$googlegreen: #34a853;
$pinterest: #bd081c;
$linkedin: #007bb5;
$vimeoblue: #1ab7ea;
$tumblr: #2c4762;
$snapchat: #fffc00;
$whatsapp: #25d366;
$whatsappteal1: #075e54;
$whatsappteal2: #128c7e;
$mastodon: #2b90d9;
$apple: #a6b1b7;
$amazon: #ff9900;
$microsoftred: #f35022;
$microsoftgreen: #80bb03;
$microsoftblue: #03a5f0;
$microsoftyellow: #ffb903;
$periscope: #40a4c4;
$foursquarepink: #f94877;
$foursquarenavy: #073282;
$foursquareblue: #2d5be3;
$swarm: #ffa633;
$medium: #02b875;
$skype: #00aff0;
$skypedkblue: #0078d7;
$android: #a4c639;
$stumbleupon: #e94826;
$flickr: #f40083;
$flickrblue: #006add;
$yahoo: #430297;
$twitch: #6441a4;
$soundcloud: #ff5500;
$spotifygreen: #1ed760;
$spotifydarkgreen: #1db954;
$dribbble: #ea4c89;
$slackpurple: #4d394b;
$slackskyblue: #70cadb;
$slackmosss: #3eb890;
$slackpink: #e01765;
$slackyellow: #e8a723;
$slackgreenblue: #1a937d;
$slackviolet: #472a49;
$slackolive: #65863a;
$slackred: #cc2027;
$reddit: #ff5700;
$deviantart: #05cc47;
$pocket: #ee4056;
$quora: #aa2200;
$quorablue: #2b6dad;
$slideshareorange: #e68523;
$slideshareblue: #00a0dc;
$fivehundredpx: #0099e5;
$vk: #4a76a8;
$listlyorange: #df6d46;
$listlyblue: #52b1b3;
$vine: #00b489;
$steam: #171a21;
$discord: #7289da;