@mixin transitionAll () {
    transition: all .4s ease-in-out;
}

@mixin transitionAllImg () {
    transition: all .4s ease-in-out;
}

@mixin flex-r-nw-fs-c () {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

@mixin leftDivider ($color, $w, $h) {
    content: '';
    display: block;
    width: $w+px;
    height: $h+px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: $color;
}

@mixin overlay ($alpha) {
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,$alpha);
    }
}

@mixin overlayPrimary ($color, $alpha) {
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $color;
        opacity: $alpha;
    }
}

@mixin overlay-no-alpha ($color) {
    &:before {
        content: '';
        display: block;
        width: 99.8%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $color;
        opacity: 1;
        z-index: 1;
        @include transitionAll;
    }
}